.Skill {
    width: 4.4em;
    height: 2.8em;
    margin: 0.5em;
    background-color: rgba(1, 92, 103, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    justify-self: center;
    align-self: center;

}
.Skill a {
    text-decoration: none;
}
.SkillP {
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}

@media only screen and (min-width: 768px) {
    .Skill {
        padding: 0.7em;
    }
    .SkillP {
        font-size: 1em;
    }
}
@media only screen and (min-width: 992px) {
    .Skill {
    }
    .SkillP {
        font-size: 1.2em;
    }
}
