.ProjectsContainer {
    height: auto;
    display: flex;
    width: 100%;
    padding: 0 0.5em;
    flex-direction: column;
    animation: translate-element 1s ease-in;
}

.TitleContainer {
    flex: 1;
    font-size: 1.2em;
    color: #015C67;
    margin: 0;
}

.ProjectsWrapper {
    flex: 5;
    display: flex;
    opacity: 1;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

@keyframes translate-element {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

@media only screen and (min-width: 768px) {
    .TitleContainer {
        font-size: 1.7em;
    }
}


@media only screen and (min-width: 992px) {
    .TitleContainer {
        font-size: 2.2em;
    }
}
