.Skills {
    display: flex;
    flex-direction: column;
    padding: 2.5em;
}

.ServicesP {
    padding-left: 0.5em;
    font-size: 0.8em;
    color: grey;
    margin-bottom: 0;
}

.SkillDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.MoreDiv {
    margin-top: 0.2em;
    color: #670C01;
    text-align: end;
}
.Link {
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .ServicesP {
        font-size: 1.4em;
    }
    .MoreDivP {
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 992px) {
    .ServicesP {
        font-size: 2em;
    }
    .MoreDivP {
        font-size: 2em;
    }
}
