.HomePage {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "ExpandDiv"
    "Services"
    "Projects"
    "About"
    "Skills"
    "Footer";
}


.ExpandDiv {
    grid-area: ExpandDiv;
    animation: translate-element 1s ease-in;
}

.Services {
    grid-area: Services;
    animation: translate-element2 1s ease-in;
}

.Projects {
    grid-area: Projects;
    animation: translate-element 1s ease-in;
}

.About {
    grid-area: About;
    animation: translate-element2 1s ease-in;
}

.Skills {
    grid-area: Skills;
    animation: translate-element 1s ease-in;
}

.Footer {
    grid-area: Footer;
    animation: translate-element3 1s ease-in;
}

@media only screen and (min-width: 768px) {
    .HomePage {
        grid-template-rows: auto auto auto auto auto auto;
    }
}


@media only screen and (min-width: 992px) {
    .HomePage {
        grid-template-columns: 50vw 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
    "ExpandDiv ExpandDiv"
    "Services Projects"
    "About Skills"
    "Footer Footer";
    }
}

@keyframes translate-element {
    0% {
        transform: translateX(+100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes translate-element2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes translate-element3 {
    0% {
        transform: translatey(+100%);
    }
    100% {
        transform: translateX(0);
    }
}
